<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Olvidaste tu Contraseña?</title>
        <link rel="stylesheet" href="C:\TP_Final\FrontEnd\CSS\styles-Olv-Con.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel ="stylesheet">
    
    </head>

    <body>
<!-- Titulo -->
            <H1 class="title">Recuperar Contraseña</H1>

<!-- Container -->

            <div class="container">
<!-- SubTitulo -->
            <H2>Ingrese con su correo que se ha registrado!</H2>
                <form action="" class="form">
<!-- respectivos Div/input -->
                    <div class="formEmail">
                        <input placeholder="Ingrese su Correo" type="email" id="email">
                    </div>

                    <div class="formButton">
                        <a class="salir" href="C:\TP_Final\FrontEnd\Plantilla\Login\login.html">Salir</a>
                        <button class="enviar">Enviar Link</button>
                    </div>
                </form>
            
        <script src="olv_con.js"></script>

    </body>

</html>
