<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Registro</title>
        <link rel="stylesheet" href="C:\TP_Final\FrontEnd\CSS\styles-Reg.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel ="stylesheet">
    
    </head>

    <body>

        <form action="" method="post" id="form">
            <H1 class="title">Formulario de Registro</H1>
<!-- Titulo y sus respectivos input -->
            <input placeholder="Ingrese su Nombre" type="text" id="name">
            <input placeholder="Ingrese su Apellido" type="text" id="surname">
            <input placeholder="Ingrese su Correo" type="email" id="email">
            <input placeholder="Ingrese su Contraseña" type="password" id="password">
            <input placeholder="Numero de Telefono" type="tel" id="phone_number">
            <p class="acuerdo">Estoy de acuerdo con terminos y condiciones</p>
<!-- Botton linkeable -->
            <button type="submit" id="button">Registrarse</button>
            <p class="warnings" id="warnings"></p>
            <p class="link"><a href="C:\TP_Final\FrontEnd\Plantilla\Login\login.html">¿Ya tienes Cuenta?</a></p>

        </form>
<!-- Conexion del archivo .js -->
        <script src="user.js"></script>

    </body>

</html>